.site-header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__items{
    display: flex;
    align-items:center;
}

.site-header__item{
    margin-right: 30px;
}