.ready{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color:#F67E7E;
    width: 1440px;
    height: 200px;
}

.ready__button{
    background-color: #F67E7E;
}