.result{
    background-color: #004047;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.result::before{
    content: "";
    background-repeat: no-repeat;
    background-image: url(../coffi/images/Group8Copy.svg);
    width: 147px;
    height: 100px;
    position: absolute;
    display: inline-block;
    left: 0;
}

.result::after{
    content: "";
    background-repeat: no-repeat;
    background-image: url(../coffi/images/Group83.svg);
    width: 200px;
    height: 100px;
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}

.result__lists{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result__title{
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 140px;
    width: 932px;
    height: 96px;
}

.success{
    color: #79C8C7;
}

.result__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    margin-top: 92px;
    margin-right: 30px;
}

.result__list::before{
    content: "";
    background-repeat: no-repeat;
    background-image: url(../coffi/images/“.svg);
    width: 67px;
    height: 56px;
    position: absolute;
    display: inline-block;
    top: 292px;
}

.result__list p{
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    z-index:0;
}

.result__list div{
    text-align: center;
    margin-top: 24px;
}

.info h5{
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
    height: 28px;
}

.info p{
    font-family: 'Livvic';
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    height: 18px;
}

.info p::after{
    content: "";
    background-repeat: no-repeat;
    background-image: url(../coffi/images/Oval@2x.svg);
    background-size: cover;
    width: 64px;
    height: 64px;
    position: absolute;
    display: block;
    margin-top: 32px;
    margin-left: 50px;
}